In [1]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName("ManipulatingData").\
config("spark.driver.memory","4g").\
config("spark.executor.memory","4g").getOrCreate()

In [3]:
spark

In [150]:
dataFrame = spark.read.csv("./youtubevideos.csv/youtubevideos.csv", inferSchema=True, header=True)

In [151]:
dataFrame.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: string (nullable = true)
 |-- likes: string (nullable = true)
 |-- dislikes: string (nullable = true)
 |-- comment_count: string (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

In [152]:
dataFrame.limit(5).toPandas()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"""last week tonight trump presidency""|""last wee...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"""racist superman""|""rudy""|""mancuso""|""king""|""bac...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"""rhett and link""|""gmm""|""good mythical morning""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"""ryan""|""higa""|""higatv""|""nigahiga""|""i dare you""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [153]:
dataFrame = dataFrame.withColumn("views",dataFrame.views.cast(IntegerType())).\
withColumn("likes", dataFrame.likes.cast(IntegerType())).\
withColumn("dislikes",dataFrame.dislikes.cast(IntegerType())).\
withColumn("comment_count",dataFrame.comment_count.cast(IntegerType())).\
withColumn("comments_disabled",dataFrame.comments_disabled.cast(BooleanType())).\
withColumn("ratings_disabled",dataFrame.ratings_disabled.cast(BooleanType())).\
withColumn("video_error_or_removed",dataFrame.video_error_or_removed.cast(BooleanType()))

In [154]:
dataFrame.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: integer (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: boolean (nullable = true)
 |-- ratings_disabled: boolean (nullable = true)
 |-- video_error_or_removed: boolean (nullable = true)
 |-- description: string (nullable = true)

In [155]:
dataFrame = dataFrame.withColumn("publish_time_2", regexp_replace(dataFrame.publish_time, 'T',' '))

In [156]:
dataFrame = dataFrame.withColumn("publish_time_2", regexp_replace(dataFrame.publish_time_2, 'Z',' '))

In [157]:
dataFrame.select("publish_time_2").show(5,False)

+------------------------+
|publish_time_2          |
+------------------------+
|2017-11-13 17:13:01.000 |
|2017-11-13 07:30:00.000 |
|2017-11-12 19:05:24.000 |
|2017-11-13 11:00:04.000 |
|2017-11-12 18:01:41.000 |
+------------------------+
only showing top 5 rows

In [158]:
dataFrame = dataFrame.withColumn("publish_time_3", to_timestamp(dataFrame.publish_time_2,'yyyy-MM-dd HH:MM:SS.SSS'))

In [159]:
dataFrame.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: integer (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: boolean (nullable = true)
 |-- ratings_disabled: boolean (nullable = true)
 |-- video_error_or_removed: boolean (nullable = true)
 |-- description: string (nullable = true)
 |-- publish_time_2: string (nullable = true)
 |-- publish_time_3: timestamp (nullable = true)

In [160]:
dataFrame.select('title').show(5,False)

+--------------------------------------------------------------+
|title                                                         |
+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |
|Nickelback Lyrics: Real or Fake?                              |
|I Dare You: GOING BALD!?                                      |
+--------------------------------------------------------------+
only showing top 5 rows

In [161]:
dataFrame.select('title',lower(dataFrame.title).alias("lower case")).show(5,False)

+--------------------------------------------------------------+--------------------------------------------------------------+
|title                                                         |lower case                                                    |
+--------------------------------------------------------------+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |we want to talk about our marriage                            |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|the trump presidency: last week tonight with john oliver (hbo)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |racist superman | rudy mancuso, king bach & lele pons         |
|Nickelback Lyrics: Real or Fake?                              |nickelback lyrics: real or fake?                              |
|I Dare You: GOING BALD!?                                      |i dare you: going bald!?                                      |
+--------------------------------------------------------------+--------------------------------------------------------------+
only showing top 5 rows

In [162]:
dataFrame.select("title",trim(dataFrame.title)).show(5,False)

+--------------------------------------------------------------+--------------------------------------------------------------+
|title                                                         |trim(title)                                                   |
+--------------------------------------------------------------+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |WE WANT TO TALK ABOUT OUR MARRIAGE                            |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |
|Nickelback Lyrics: Real or Fake?                              |Nickelback Lyrics: Real or Fake?                              |
|I Dare You: GOING BALD!?                                      |I Dare You: GOING BALD!?                                      |
+--------------------------------------------------------------+--------------------------------------------------------------+
only showing top 5 rows

In [163]:
dataFrame.select("likes","dislikes",when(dataFrame.likes > dataFrame.dislikes, "Good").\
                 when(dataFrame.likes < dataFrame.dislikes, "Bad").\
                 otherwise("Unfavourable").alias("Favourability")).show(5,False)

+------+--------+-------------+
|likes |dislikes|Favourability|
+------+--------+-------------+
|57527 |2966    |Good         |
|97185 |6146    |Good         |
|146033|5339    |Good         |
|10172 |666     |Good         |
|132235|1989    |Good         |
+------+--------+-------------+
only showing top 5 rows

In [164]:
dataFrame.select("likes","dislikes", expr("CASE WHEN likes > dislikes THEN 'GOOD' WHEN dislikes > likes THEN 'BAD' ELSE 'UNDETERMINED' END AS FAVOURABILITY ")).show(5,False)

+------+--------+-------------+
|likes |dislikes|FAVOURABILITY|
+------+--------+-------------+
|57527 |2966    |GOOD         |
|97185 |6146    |GOOD         |
|146033|5339    |GOOD         |
|10172 |666     |GOOD         |
|132235|1989    |GOOD         |
+------+--------+-------------+
only showing top 5 rows

In [165]:
dataFrame.selectExpr("likes","dislikes","CASE WHEN likes > dislikes THEN 'GOOD' WHEN dislikes > likes THEN 'BAD' ELSE 'UNDETERMINED' END AS FAVOURABILITY").show(5,False)

+------+--------+-------------+
|likes |dislikes|FAVOURABILITY|
+------+--------+-------------+
|57527 |2966    |GOOD         |
|97185 |6146    |GOOD         |
|146033|5339    |GOOD         |
|10172 |666     |GOOD         |
|132235|1989    |GOOD         |
+------+--------+-------------+
only showing top 5 rows

In [166]:
#Concatenate
dataFrame.select(concat_ws(' ', col('likes'),col('dislikes')).alias("Concatenated columns")).show(5,False)

+--------------------+
|Concatenated columns|
+--------------------+
|57527 2966          |
|97185 6146          |
|146033 5339         |
|10172 666           |
|132235 1989         |
+--------------------+
only showing top 5 rows

In [167]:
array = dataFrame.select('title', split(col('title'), ' ').alias("Splitted columns"))

In [168]:
array.printSchema()

root
 |-- title: string (nullable = true)
 |-- Splitted columns: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [169]:
array.select('title', array_contains(col("Splitted columns"),"MARRIAGE").alias("Boolean Row")).show(5,False)

+--------------------------------------------------------------+-----------+
|title                                                         |Boolean Row|
+--------------------------------------------------------------+-----------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |true       |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|false      |
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |false      |
|Nickelback Lyrics: Real or Fake?                              |false      |
|I Dare You: GOING BALD!?                                      |false      |
+--------------------------------------------------------------+-----------+
only showing top 5 rows

In [170]:
array.select('title', array_remove(col('Splitted columns'), "WE")).show(5,False)

+--------------------------------------------------------------+-------------------------------------------------------------------------+
|title                                                         |array_remove(Splitted columns, WE)                                       |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |[WANT, TO, TALK, ABOUT, OUR, MARRIAGE]                                   |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|[The, Trump, Presidency:, Last, Week, Tonight, with, John, Oliver, (HBO)]|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |[Racist, Superman, |, Rudy, Mancuso,, King, Bach, &, Lele, Pons]         |
|Nickelback Lyrics: Real or Fake?                              |[Nickelback, Lyrics:, Real, or, Fake?]                                   |
|I Dare You: GOING BALD!?                                      |[I, Dare, You:, GOING, BALD!?]                                           |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
only showing top 5 rows

In [171]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *

In [173]:
def squared(x):
    return int(x*2)

In [174]:
square_udf = udf(lambda z : squared(z), IntegerType())

In [175]:
dataFrame.select('likes', square_udf(col('likes'))).where(col('likes').isNotNull()).show(5,False)

+------+---------------+
|likes |<lambda>(likes)|
+------+---------------+
|57527 |115054         |
|97185 |194370         |
|146033|292066         |
|10172 |20344          |
|132235|264470         |
+------+---------------+
only showing top 5 rows

In [176]:
dataFrame.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: integer (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: boolean (nullable = true)
 |-- ratings_disabled: boolean (nullable = true)
 |-- video_error_or_removed: boolean (nullable = true)
 |-- description: string (nullable = true)
 |-- publish_time_2: string (nullable = true)
 |-- publish_time_3: timestamp (nullable = true)

In [183]:
dataFrame.select('title','likes').where(col('title').isNull()).count()

5902

In [192]:
dataFrame.select('likes').agg(min(col('likes')), max(col('likes'))).show(5,False)

+----------+----------+
|min(likes)|max(likes)|
+----------+----------+
|0         |5613827   |
+----------+----------+

In [199]:
dataFrame.select('category_id').distinct().toPandas()

                                          category_id
0                                                  15
1                                              artist
2    informed reporting of everything from wars an...
3                                                  29
4                                 dining destinations
5                                                  22
6                                                  28
7                                             fashion
8                                no I'm not a lesbian
9                    and videos from beauty experts.
10                                               None
11                                       moisturizers
12                                       John Goodman
13                                                 43
14                 how to do a 540° McTwist and more.
15                                                 27
16                                                 17
17                                                 26
18                                         hairstyles
19                                 to kimchi and miso
20   even Lara can’t understand what drives her to...
21   and restaurant menus from the world’s largest...
22   Daniel Wu (AMC’s “Into the Badlands”) and Osc...
23                                                 19
24               politics and more. In that tradition
25                                                 23
26                                             travel
27   and restaurant menus from the world’s largest...
28   blind faith and inherently stubborn spirit—mu...
29                                                 25
30                               scandals and arrests
31                                             places
32   and restaurant menus from the world’s largest...
33                                             videos
34   and videos for women who want to achieve thei...
35   and restaurant menus from the world’s largest...
36                                                 24
37                                                  1
38                                                 20
39                 and in select territories by MGM."
40                                                 10
41   and restaurant menus from the world’s largest...
42   and restaurant menus from the world’s largest...
43                                    celebrity style
44                                           cencioni
45   with Oscar-winner Graham King (“The Departed”...
46   because we are always doing something new. Wh...
47                                                  2
48   plucked from a bedroom side table. Anything t...
49                                      Dalessandro’s
50   created RokShok the world’s first mobile phon...