# Working with json files

In [1]:
from pyspark.sql.types import *
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Structured Data").config("spark.driver.memory","4g").config("spark.executor.memory","4g").getOrCreate()

In [3]:
import os
print(os.getcwd())

C:\Learning\Python_Projects\PySpark

In [4]:
read_json_df = spark.read.format("json").option("inferSchema", True).option("multiline",True).load("./persons.json")

In [5]:
read_json_df.select("first_name","last_name","date_of_birth").show(10, truncate=False)

+----------+---------+-------------+
|first_name|last_name|date_of_birth|
+----------+---------+-------------+
|Drucy     |Poppy    |1991-02-16   |
|Emelyne   |Blaza    |1991-11-02   |
|Max       |Rettie   |1990-03-03   |
|Ilario    |Kean     |1987-06-09   |
|Toddy     |Drexel   |1992-10-28   |
|Oswald    |Petrolli |1986-09-02   |
|Adrian    |Clarey   |1971-08-24   |
|Dominica  |Goodnow  |1973-08-27   |
|Emory     |Slocomb  |1974-06-08   |
|Jeremias  |Bode     |1997-08-02   |
+----------+---------+-------------+
only showing top 10 rows

In [6]:
read_json_df.printSchema()

root
 |-- active: boolean (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- fav_movies: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- first_name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- image_url: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: double (nullable = true)

In [7]:
from pyspark.sql.functions import concat_ws, col, expr,array_contains

In [8]:
read_json_df.select(concat_ws(' ',"first_name","last_name").alias("full_name"),
                   col("date_of_birth"),
                   (col("salary")*0.10*col("salary")).alias("salary_modified")).show(10)

+----------------+-------------+------------------+
|       full_name|date_of_birth|   salary_modified|
+----------------+-------------+------------------+
|     Drucy Poppy|   1991-02-16|214142.24895999997|
|   Emelyne Blaza|   1991-11-02|      903627.64816|
|      Max Rettie|   1990-03-03|202458.74944000004|
|     Ilario Kean|   1987-06-09|     1268328.50496|
|    Toddy Drexel|   1992-10-28|2435294.1916900002|
| Oswald Petrolli|   1986-09-02|132993.94329000002|
|   Adrian Clarey|   1971-08-24|109146.07729000002|
|Dominica Goodnow|   1973-08-27|      131735.30176|
|   Emory Slocomb|   1974-06-08|117096.20520999999|
|   Jeremias Bode|   1997-08-02|1205915.9116900002|
+----------------+-------------+------------------+
only showing top 10 rows

In [9]:
read_json_df.select(concat_ws(' ',"first_name","last_name").alias("full_name"),
                   col("date_of_birth"),
                   expr("salary*0.10*salary").alias("salary_modified")).show(10)

+----------------+-------------+------------------+
|       full_name|date_of_birth|   salary_modified|
+----------------+-------------+------------------+
|     Drucy Poppy|   1991-02-16|214142.24895999997|
|   Emelyne Blaza|   1991-11-02|      903627.64816|
|      Max Rettie|   1990-03-03|202458.74944000004|
|     Ilario Kean|   1987-06-09|     1268328.50496|
|    Toddy Drexel|   1992-10-28|2435294.1916900002|
| Oswald Petrolli|   1986-09-02|132993.94329000002|
|   Adrian Clarey|   1971-08-24|109146.07729000002|
|Dominica Goodnow|   1973-08-27|      131735.30176|
|   Emory Slocomb|   1974-06-08|117096.20520999999|
|   Jeremias Bode|   1997-08-02|1205915.9116900002|
+----------------+-------------+------------------+
only showing top 10 rows

# Distinct, Drop duplicates, Order by

In [10]:
from pyspark.sql.functions import *

In [11]:
read_json_df.select("active").show(10)

+------+
|active|
+------+
|  true|
| false|
| false|
|  true|
|  true|
| false|
| false|
| false|
|  true|
|  true|
+------+
only showing top 10 rows

In [12]:
read_json_df.select("active").distinct().show()

+------+
|active|
+------+
|  true|
| false|
+------+

In [13]:
read_json_df.select("first_name","last_name","date_of_birth").distinct().show(10)

+----------+-----------+-------------+
|first_name|  last_name|date_of_birth|
+----------+-----------+-------------+
|      Wynn|      Sayre|   1997-06-30|
|     Deina|    Pennick|   1999-11-28|
|    Darbee|  Brownjohn|   1996-02-07|
|     Davin|       Labb|   1988-01-27|
|    Kelila|Harrowsmith|   1973-01-02|
|  Thorvald|     Finnan|   1984-09-16|
|    Daveta|  Crutchley|   1978-11-16|
|  Elianora|     Notman|   1999-06-26|
|     Drucy|      Poppy|   1991-02-16|
| Franciska|       Lees|   1982-07-15|
+----------+-----------+-------------+
only showing top 10 rows

In [14]:
read_json_df.select("first_name","last_name","date_of_birth").orderBy("first_name","date_of_birth", ascending=False).show(15)

+----------+----------+-------------+
|first_name| last_name|date_of_birth|
+----------+----------+-------------+
|      Wynn|     Sayre|   1997-06-30|
|  Wolfgang|     Inger|   1973-11-16|
|    Wilden|    Mayger|   1998-12-27|
|    Welbie|   Crackel|   1990-10-24|
|    Virgie|  Domanski|   2002-01-05|
|     Trace|     Balke|   1982-01-03|
|     Toddy|    Drexel|   1992-10-28|
|     Toddy|Matevosian|   1972-03-17|
|      Tish|    Machon|   1995-06-08|
|   Timothy|    Ervine|   1971-06-02|
|  Thorvald|    Finnan|   1984-09-16|
|  Theodore|  Climance|   1999-01-30|
|   Stanley| Sargeaunt|   1986-09-12|
|       Sky|     Hails|   1971-02-19|
|  Sherline|   Primett|   1972-07-23|
+----------+----------+-------------+
only showing top 15 rows

In [15]:
lst = [("hey",1,10),("ola",2,20),("hey",1,30),("hey",1,10)]

In [16]:
type(lst)

list

In [17]:
lst_df = spark.createDataFrame(lst,["name","id","salary"])

In [18]:
lst_df.show()

+----+---+------+
|name| id|salary|
+----+---+------+
| hey|  1|    10|
| ola|  2|    20|
| hey|  1|    30|
| hey|  1|    10|
+----+---+------+

In [19]:
lst_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- salary: long (nullable = true)

In [20]:
lst_df.select("name","id","salary").show()

+----+---+------+
|name| id|salary|
+----+---+------+
| hey|  1|    10|
| ola|  2|    20|
| hey|  1|    30|
| hey|  1|    10|
+----+---+------+

In [21]:
lst_df.select("name","id","salary").drop_duplicates().show()

+----+---+------+
|name| id|salary|
+----+---+------+
| hey|  1|    30|
| hey|  1|    10|
| ola|  2|    20|
+----+---+------+

In [22]:
lst_df.select("name","id","salary").dropDuplicates(["name","id"]).show()

+----+---+------+
|name| id|salary|
+----+---+------+
| hey|  1|    10|
| ola|  2|    20|
+----+---+------+

# ROWS AND UNIONS

In [23]:
lst_df.show()

+----+---+------+
|name| id|salary|
+----+---+------+
| hey|  1|    10|
| ola|  2|    20|
| hey|  1|    30|
| hey|  1|    10|
+----+---+------+

In [24]:
new_lst = [("new",4,40)]

In [25]:
new_lst_df = spark.createDataFrame(new_lst)

In [26]:
final_df = lst_df.union(new_lst_df)

In [27]:
final_df.show()

+----+---+------+
|name| id|salary|
+----+---+------+
| hey|  1|    10|
| ola|  2|    20|
| hey|  1|    30|
| hey|  1|    10|
| new|  4|    40|
+----+---+------+

## Adding Renaming and Dropping columns in data frame

In [28]:
from pyspark.sql.functions import round

In [29]:
final_new_column_df = final_df.withColumn("salary_increase", expr("salary * 10 * salary"))

In [30]:
final_new_column_df.show()

+----+---+------+---------------+
|name| id|salary|salary_increase|
+----+---+------+---------------+
| hey|  1|    10|           1000|
| ola|  2|    20|           4000|
| hey|  1|    30|           9000|
| hey|  1|    10|           1000|
| new|  4|    40|          16000|
+----+---+------+---------------+

In [31]:
final_new_column_df.drop("salary_increase").show()

+----+---+------+
|name| id|salary|
+----+---+------+
| hey|  1|    10|
| ola|  2|    20|
| hey|  1|    30|
| hey|  1|    10|
| new|  4|    40|
+----+---+------+

In [32]:
final_new_column_df.withColumnRenamed("salary","salaryRenamed").show()

+----+---+-------------+---------------+
|name| id|salaryRenamed|salary_increase|
+----+---+-------------+---------------+
| hey|  1|           10|           1000|
| ola|  2|           20|           4000|
| hey|  1|           30|           9000|
| hey|  1|           10|           1000|
| new|  4|           40|          16000|
+----+---+-------------+---------------+

In [33]:
read_json_df.count()

100

In [34]:
read_json_df.show(10)

+------+-------------+--------------------+----------+---+--------------------+---------+-------+
|active|date_of_birth|          fav_movies|first_name| id|           image_url|last_name| salary|
+------+-------------+--------------------+----------+---+--------------------+---------+-------+
|  true|   1991-02-16|  [I giorni contati]|     Drucy|  1|http://dummyimage...|    Poppy|1463.36|
| false|   1991-11-02|[Musketeer, The, ...|   Emelyne|  2|http://dummyimage...|    Blaza|3006.04|
| false|   1990-03-03|[The Forgotten Sp...|       Max|  3|http://dummyimage...|   Rettie|1422.88|
|  true|   1987-06-09|[Up Close and Per...|    Ilario|  4|http://dummyimage...|     Kean|3561.36|
|  true|   1992-10-28|[Walk in the Clou...|     Toddy|  5|http://dummyimage...|   Drexel|4934.87|
| false|   1986-09-02|[Wing and the Thi...|    Oswald|  6|http://dummyimage...| Petrolli|1153.23|
| false|   1971-08-24|[Walking Tall, Pa...|    Adrian|  7|http://dummyimage...|   Clarey|1044.73|
| false|   1973-08-27|    [Hearts Divided]|  Dominica|  8|http://dummyimage...|  Goodnow|1147.76|
|  true|   1974-06-08|[Snake and Crane ...|     Emory|  9|http://dummyimage...|  Slocomb|1082.11|
|  true|   1997-08-02|[Farewell to Arms...|  Jeremias| 10|http://dummyimage...|     Bode|3472.63|
+------+-------------+--------------------+----------+---+--------------------+---------+-------+
only showing top 10 rows

In [35]:
read_json_df.printSchema()

root
 |-- active: boolean (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- fav_movies: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- first_name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- image_url: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: double (nullable = true)

In [36]:
from datetime import datetime

In [37]:
json_timestamp_df = read_json_df.withColumn("processed_date_time", to_utc_timestamp(current_timestamp(),"IST")).select("active", "date_of_birth","processed_date_time")

In [38]:
json_timestamp_df.printSchema()

root
 |-- active: boolean (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- processed_date_time: timestamp (nullable = false)

In [39]:
json_timestamp_df.show(truncate=False)

+------+-------------+-----------------------+
|active|date_of_birth|processed_date_time    |
+------+-------------+-----------------------+
|true  |1991-02-16   |2021-05-13 10:39:17.226|
|false |1991-11-02   |2021-05-13 10:39:17.226|
|false |1990-03-03   |2021-05-13 10:39:17.226|
|true  |1987-06-09   |2021-05-13 10:39:17.226|
|true  |1992-10-28   |2021-05-13 10:39:17.226|
|false |1986-09-02   |2021-05-13 10:39:17.226|
|false |1971-08-24   |2021-05-13 10:39:17.226|
|false |1973-08-27   |2021-05-13 10:39:17.226|
|true  |1974-06-08   |2021-05-13 10:39:17.226|
|true  |1997-08-02   |2021-05-13 10:39:17.226|
|false |1971-06-02   |2021-05-13 10:39:17.226|
|false |1981-12-17   |2021-05-13 10:39:17.226|
|false |1996-03-07   |2021-05-13 10:39:17.226|
|true  |1989-07-20   |2021-05-13 10:39:17.226|
|false |2000-10-07   |2021-05-13 10:39:17.226|
|true  |1988-07-29   |2021-05-13 10:39:17.226|
|false |1974-07-20   |2021-05-13 10:39:17.226|
|true  |1989-06-21   |2021-05-13 10:39:17.226|
|false |1998-11-03   |2021-05-13 10:39:17.226|
|false |1979-05-06   |2021-05-13 10:39:17.226|
+------+-------------+-----------------------+
only showing top 20 rows

# WORKING WITH MISSING OR BAD DATA

In [40]:
from pyspark.sql import Row
bad_movies_list = [Row(None, None, None),
                   Row(None, None, 2020),
                   Row("John Doe", "Awesome Movie", None),
                   Row(None, "Awesome Movie", 2021),
                   Row("Mary Jane", None, 2019),
                   Row("Vikter Duplaix", "Not another teen movie", 2001)]

In [41]:
bad_movies_columns = ["movie-name","review","year"]

In [42]:
bad_movies_df = spark.createDataFrame(bad_movies_list,bad_movies_columns)

In [43]:
bad_movies_df.show()

+--------------+--------------------+----+
|    movie-name|              review|year|
+--------------+--------------------+----+
|          null|                null|null|
|          null|                null|2020|
|      John Doe|       Awesome Movie|null|
|          null|       Awesome Movie|2021|
|     Mary Jane|                null|2019|
|Vikter Duplaix|Not another teen ...|2001|
+--------------+--------------------+----+

In [44]:
#drops rows which has atleast one value in a column 
bad_movies_df.na.drop().show()

+--------------+--------------------+----+
|    movie-name|              review|year|
+--------------+--------------------+----+
|Vikter Duplaix|Not another teen ...|2001|
+--------------+--------------------+----+

In [45]:
#drops rows which has atleast one value in a column 
bad_movies_df.na.drop("any").show()

+--------------+--------------------+----+
|    movie-name|              review|year|
+--------------+--------------------+----+
|Vikter Duplaix|Not another teen ...|2001|
+--------------+--------------------+----+

In [46]:
#drops rows which has imall null value in a column 
bad_movies_df.na.drop("all").show()

+--------------+--------------------+----+
|    movie-name|              review|year|
+--------------+--------------------+----+
|          null|                null|2020|
|      John Doe|       Awesome Movie|null|
|          null|       Awesome Movie|2021|
|     Mary Jane|                null|2019|
|Vikter Duplaix|Not another teen ...|2001|
+--------------+--------------------+----+

In [47]:
bad_movies_df.filter(col("movie-name").isNotNull()).show()

+--------------+--------------------+----+
|    movie-name|              review|year|
+--------------+--------------------+----+
|      John Doe|       Awesome Movie|null|
|     Mary Jane|                null|2019|
|Vikter Duplaix|Not another teen ...|2001|
+--------------+--------------------+----+

In [48]:
bad_movies_df.filter(col("movie-name").isNull()).filter(col("review").isNull()).show()

+----------+------+----+
|movie-name|review|year|
+----------+------+----+
|      null|  null|null|
|      null|  null|2020|
+----------+------+----+

# Working with User Defined Functions

In [49]:
from pyspark.sql.functions import udf

In [50]:
student_lst = [("Ram",90),
          ("Sai",20),
          ("Karthik",50)]

In [51]:
type(student_lst)

list

In [52]:
student_lst_columns = ["name","marks"]

In [53]:
students_df = spark.createDataFrame(student_lst, student_lst_columns)

In [54]:
students_df.show()

+-------+-----+
|   name|marks|
+-------+-----+
|    Ram|   90|
|    Sai|   20|
|Karthik|   50|
+-------+-----+

In [55]:
def grades(marks:int):
    if marks>100:
        print("Cheating")
        grade = "F"
    elif marks>=80:
        grade = "A"
    elif marks>=30:
        grade = "B"
    else:
        grade = "F"
    return grade

In [56]:
gradesUDF = udf(grades)

In [57]:
students_df.withColumn("grade",gradesUDF(col("marks"))).show()

+-------+-----+-----+
|   name|marks|grade|
+-------+-----+-----+
|    Ram|   90|    A|
|    Sai|   20|    F|
|Karthik|   50|    B|
+-------+-----+-----+

In [58]:
import os
print(os.getcwd())

C:\Learning\Python_Projects\PySpark

In [59]:
filePath = "D:\Downloads_HpOmen\sample.csv"

In [62]:
filePath_df = spark.read.format("csv").option("header",True).option("inferSchema", True).load(filePath)

In [63]:
filePath_df.printSchema()

root
 |-- name: string (nullable = true)
 |--  address: string (nullable = true)
 |--  id: double (nullable = true)
 |--  inIndia: string (nullable = true)

In [67]:
filePath_df.show()

+-------+-----------+---+--------+
|   name|    address| id| inIndia|
+-------+-----------+---+--------+
|    ram| kukatpally|1.0|    true|
|    sai|       kphb|2.0|   false|
|karthik|   ameerpet|3.0|    true|
+-------+-----------+---+--------+

In [65]:
changeSchema = StructType([
    StructField("name", StringType(), True),
    StructField("address", StringType(), True),
    StructField("id", DoubleType(), True),
    StructField("inIndia", BooleanType(), True),
    
])

TypeError: read() takes exactly 2 arguments (1 given)